/* Button styles */
btn-component {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: 600;
    transition: background-color 0.2s ease;
    cursor: pointer;
    border: none;
}

.btn-component:disabled {
    opacity: 0.6s;
    cursor: not-allowed;
}

.btn-primary {
    background-color: #2563eb;
    color: white;
}

.btn-primary:hover:not(:disabled) {
    background-color: #1d4ed8;
}

.btn-secondary {
    background-color: #6b7280;
    color: white;
}

.btn-secondary:hover:not(:disabled) {
    background-color: #4b5563;
}

.btn-danger {
    background-color: #dc2626;
    color: white;
}

.btn-danger:hover:not(:disabled) {
    background-color: #b91c1c;
}

/* Input styles */
.input-component {
    margin-bottom: 1rem;
}

.input-component label {
    display: block;
    margin-bottom: .25rem;
}

.input-component input {
    padding: .5rem;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    width: 100%;
}
